body {
    background-color:rgba(244, 165, 96, 0.61)
}

.card-header, .jumbotron {
    background-color: rgba(100, 148, 237, 0.753);
    font-weight: bolder;
    text-shadow:
    1px 1px white;
    font-size: 21px;
}

h1 {
    font-size: 56px;
}